
.main{
    font-family: News Cycle;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #043343;
    letter-spacing: 2px;
  }

  .calenderNumbering, .activepage{
    background-color: gray;
    color: white;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin-right: 10px;
    padding: 7px 7px 7px 10px;
  }

  .activepage{
    background-color: #015790;
  }


.calenderWrapper{
  margin-top: 50px;
  
}

.leftPanel{
    background-color: #015790;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
  }
  
.leftPanelLowerText{
  font-size: small;
  height: 250px;
}

/* .calenderContent div{
  display: inline-block;
  width: 60px;
  padding: 20px 30px 20px;
  color: gray;
} */

.calenderContent{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.calenderItems{
  width: 14.28%;
  padding: 18px 0px;
}

.monthChangeButton{
  border: none;
  background-color: white;
  color: gray;
}

.monthChangeButton:hover{
  background-color: gray;
  color: white;
  border-radius: 40px;
  font-weight: bold;
}

.currentDate{
  background-color: red;
  color: white;
}

.calenderDaysHeader{
  color: gray;
}

.form-control{
text-align: center;
font-size: 45px;
} 
.bookingIcons{
border: none;
background-color: rgb(0, 60, 108);
margin-top: 10px;
color: white;
padding: 10px;
}

.bookingIcons:hover{
  cursor: pointer;
  border: none;
  background-color: rgb(3, 41, 71);
  border-radius: 20px;
  margin-top: 10px;
}

.bookingLabel{
  position: absolute;
  top: -12px;
  z-index: 1;
  color:  gray;
  margin-left: 10px
}

.bookingInput{
  position: relative;
  z-index: 0;
  border-top:none;
}

.bookingInput:hover, .bookingInput:focus{
border: 1px solid black;
border-top: none;
box-shadow: none;
}