.contactHeading{
    font-family: balboa;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .contactDetails{
    font-family: News Cycle;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #043343;
    font-weight: bolder;
  }

  .locationDetail, .emailDetails, .phoneDetail{
    color: #043343;
    text-transform: none;
    text-decoration: underline;
  }

  .locationDetail:hover, .emailDetails:hover, .phoneDetail:hover{
    opacity: .6;
  }