.nav-link{
  color: #821c32;
}

.nav-link:hover{
  color: #20326f;
}

a{
text-decoration: none;
color: #821c32;
text-transform: uppercase;
font-weight: 500;
font-style: normal;
font-size: 20px; 
letter-spacing: .05em;
}

.navsds{
  border: none;
}