.nav-link{
  color: #821c32;
  font-weight: 500;
  font-size: 18px; 
}

.nav-link:hover{
  color: #20326f;
}

a{
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
font-style: normal;
letter-spacing: .01em;
}

.navsds{
  border: none;
}

.bookButton{
  border-radius:0;
  padding: 15px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
}