.nav-items{
  text-transform: uppercase;
  text-decoration: none;
  font-family: "News Cycle", sans-serif;   
}

a{
text-decoration: none;
color: #821c32;
text-transform: uppercase;
font-weight: 500;
}

.navsds{
  border: none;
}